@theme "theme.rasi"

configuration {
	modi: "drun,run,filebrowser,window";
    modes: "window,drun,run";
	case-sensitive: false;
	cycle: true;
	filter: "";
	scroll-method: 0;
	normalize-match: true;
	show-icons: false;
	steal-focus: true;
/*	dpi: -1;*/
}

