@import "../../.cache/wal/colors-waybar.css";
/* assuming called in ~/.config/waybar */

* {
    font-family: "FiraCode Nerd Font Propo";
    font-size: 18px;
    padding: 2px;
}

window#waybar {
    background-color: @color0;
}

tooltip {
    background: @background;
    border-radius: 8px;
}

tooltip label {
    color: @color7;
}

#workspaces {
    background: @color0;
    padding: 0px;
    margin: 0 2px;
    border-radius: 10px;
    color: @color10;
}

#workspaces button {
    padding: 0px;
    margin: 1px;
    border-radius: 10px;
    border: 2px solid @color0;
    /* background-color: ; */
    color: @color7;
}

#workspaces button.active {
    border: 2px solid @color0;
    color: @color3
}

#workspaces button.urgent {
    border: 2px solid @color2;
}

#workspaces button.hover {
    border: 1px solid @color1;
    background-color: @color1;
    color: @color1;
}

#network.disconnected,
#temperature.critical,
#cpu.critical,
#memory.critical {
    color: @color9;
}

#cpu.warning,
#memory.warning,
#pulseaudio.muted {
    color: @color11;
}

#clock {
    padding: 0 0 0 10px;
    border-radius: 12px;
    color: @color7;
}

#backlight,
#battery,
#bluetooth,
#cpu,
#custom-notification,
#disk,
#memory,
#mode,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#window,
#wireplumber {
    padding: 0px 6px;
    margin: 2px 4px;
    border-radius: 8px;
    color: @color7;
    background-color: @color0;
}

#tray {
    padding: 0px 6px;
    margin: 0px 0px;
    border-radius: 8px;
}

#custom-power,
#custom-settings,
#custom-nixos,
#custom-sandwich {
    padding: 0px 10px;
    margin: 0px 0px;
    border-radius: 8px;
    color: @color7;
    background-color: @color0;
}

#custom-nixos-build,
#custom-nixos-upgrade,
#custom-nixos-dry,
#custom-nixos-powerwash,
#custom-nixos-keybinds,
#custom-power-shutdown,
#custom-power-reboot,
#custom-power-suspend,
#custom-power-hibernate,
#custom-settings-wallpaper,
#power-profiles-daemon,
#idle_inhibitor,
#custom-open-application {
    padding: 0px 10px;
    margin: 0px 0px;
    border-radius: 8px;
}

#sandwich,
#settings,
#nixos,
#power {
    padding: 0px 0px;
    margin: 0px 4px;
    border-radius: 8px;
    color: @color0;
    border: 1px solid @color7;
    background-color: @color7;
}

.sandwich-drawer,
.settings-drawer,
.power-drawer,
.nixos-drawer {
    padding: 0px 6px;
    margin: 0px 6px;
    border-radius: 8px;
    color: @color0;
    background-color: @color7;
}

#battery.critical:not(.charging) {
    background-color: @color1;
    color: @background;
}

#battery.charging,
#battery.plugged,
#bluetooth.connected {
    color: @color6;
}