@import "../../.cache/wal/colors-waybar.css";
/* assuming called in ~/.config/waybar */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, FiraCode, monospace;
    font-size: 18px;
    padding: 2px;
}

window#waybar {
    background-color: @background;
    border-radius: 10px;
    border: 2px solid @color7
}

tooltip {
    background: @background;
    border: 2px solid @color7;
    border-radius: 10px;
}

tooltip label {
    color: @color7;
}

#workspaces {
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    color: @color0;
}

#workspaces button {
    padding: 0px;
    margin: 1px;
    border-radius: 5px;
    border: 2px solid @color0;
    background-color: @color0;
    color: @color7;

}

#workspaces button.active {
    border: 2px solid @color7;
}

#workspaces button.urgent {
    border: 2px solid @color1;
}

#workspaces button.hover {
    border: 1px solid @color1;
    background-color: @color1;
    color: @color1;
}

#workspaces button.empty {
    background-color: @color0;
    color: @color7;
}

/* TODO: fix a hover css strangeness */

#network.disconnected,
#temperature.critical,
#cpu.critical,
#memory.critical {
    color: @color9;
    /* GENERALLY A RED */
}

#cpu.warning,
#memory.warning,
#idle_inhibitor.activated,
#pulseaudio.muted {
    color: @color11;
    /* GENERALLY A YELLOW */
}

#clock {
    padding: 0 0 0 10px;
    border-radius: 5px;
    color: @color7;
}

#backlight,
#battery,
#bluetooth,
#cpu,
#custom-power,
#custom-nixos,
#custom-notification,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#power-profiles-daemon,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window,
#wireplumber {
    padding: 0px 10px;
    margin: 0 1px;
    border-radius: 5px;
    color: @color7;
}

#battery.critical:not(.charging) {
    background-color: @color1;
    color: @background;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @color2;
        color: @background;
    }
}

#power-profiles-daemon.performance {
    color: @color9;
}

#power-profiles-daemon.balanced {
    color: @color4;
}

#battery.charging,
#battery.plugged,
#bluetooth.connected,
#power-profiles-daemon.power-saver {
    color: @color6;
}