@import "../../.cache/wal/colors-waybar.css";
/* assuming called in ~/.config/waybar */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, FiraCode, FiraCode Symbols, monospace;
    font-size: 18px;
    padding: 2px;
}

window#waybar {
    background-color: @color0;
    border-radius: 10px;
    border: 1px solid @color7
}

tooltip {
    background: @color0;
    border: 1px solid @color7;
    border-radius: 10px;
}

tooltip label {
    color: @color7;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    color: @color7;
}

#workspaces button.urgent {
    background-color: @color11;
    color: @color0;
    border-radius: 5px;
}


#network.disconnected,
#temperature.critical,
#cpu.critical,
#memory.critical {
    background-color: @color9;
    color: @color0;
}

#cpu.warning,
#memory.warning,
#idle_inhibitor.activated,
#pulseaudio.muted {
    background-color: @color11;
    color: @color0;
}


#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-power,
#custom-notification,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#power-profiles-daemon,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces {
    padding: 0px 10px;
    margin: 0 1px;
    border-radius: 5px;
    color: @color7;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left>widget:first-child>#workspaces {
    margin-left: 0;
} */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right>widget:last-child>#workspaces {
    margin-right: 0;
} */

#battery.critical:not(.charging) {
    background-color: @color1;
    color: @color0;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @color2;
        color: @color0;
    }
}

#power-profiles-daemon.performance {
    /* background-color: @color9; */
    color: @color9;
}

#power-profiles-daemon.balanced {
    /* background-color: @color4; */
    color: @color4;
}

#battery.charging,
#battery.plugged,
#power-profiles-daemon.power-saver {
    /* background-color: @color6; */
    color: @color6;
}