@import url(../variables.css);

@import url(backlight.css);
@import url(buttons.css);
@import url(dnd.css);
@import url(inhibitors.css);
@import url(label.css);
@import url(menubar.css);
@import url(mpris.css);
@import url(slider.css);
@import url(title.css);
@import url(volume.css);

.widget {
    margin: 8px;
    padding: 8px;
    border-radius: var(--border-radius);
}
