@import url(../variables.css);

.widget-buttons-grid flowboxchild > button {
    border-radius: var(--border-radius);
    font-size: var(--large-button-size);
}

/*cannot figure out how to use or navigate this*/
.widget-buttons-grid flowboxchild > button.toggle:checked {
    background: var(--color1);
}
