@import url(./style/variables.css);
@import url(./style/notifications.css);
@import url(./style/control-center.css);
@import url(./style/widgets/.index.css);

.blank-window {
    /* Window behind control center and on all other monitors */
    background: transparent;
}

.floating-notifications {
    background: transparent;
}

.floating-notifications .notification {
    box-shadow: none;
}

.floating-notifications .notification progress {
    background-color: var(--color1);
}

.floating-notifications .notification trough {
    background-color: var(--color0);
}
